*
!install-packages.sh
!*.desktop
!README.md
!install-software.md
!.gitignore

!alacritty
!alacritty/alacritty.toml

!fastfetch
!fastfetch/config.jsonc

!fish
!fish/*
!fish/*/**

!hypr
!hypr/*
!hypr/*/**

!swaylock
!swaylock/config

!waybar
!waybar/*
!waybar/*/**

!wofi
!wofi/*